@use '../../styles/abstracts' as *;

.links {
	width: 100%;

	.link {
		background-color: $white;
		font-size: 1.6rem;
		border-radius: 5px;
		margin-bottom: 1rem;
		display: flex;
		flex-flow: column;
		padding: 2rem 2rem;

		@include for-tablet-up {
			padding: 1rem 2rem;
			justify-content: space-between;
			align-items: center;
			flex-flow: row nowrap;
		}

		&:nth-of-type(1) {
			margin-top: 12rem;

			@include for-tablet-up {
				margin-top: 10rem;
			}
		}

		.original {
			flex: 1 1 auto;
			overflow: hidden;
			min-height: 2.4rem;
			border-bottom: 1px solid $gray;
			white-space: nowrap;
			padding: 1rem 0;

			@include for-tablet-up {
				border: none;
			}
		}
	}

	.group {
		display: flex;
		flex-flow: column;

		@include for-tablet-up {
			margin-left: 3rem;
			flex-flow: row;
			flex: 0 1 auto;
			justify-content: flex-end;
			align-items: center;
		}

		a {
			color: $primary-cyan;
			margin: 1rem 0;

			@include for-tablet-up {
				margin: 0;
			}

			&:hover {
				@include for-tablet-up {
					border-bottom: 1px solid $primary-cyan;
				}
			}
		}
	}

	.btnContainer {
		font-size: $p-md;
		height: 4rem;
		width: 100%;

		@include for-tablet-up {
			width: 9rem;
			margin-left: 2rem;
		}
	}
}
