@use '../../styles/abstracts' as *;

.cta {
	min-height: 10rem;
	text-align: center;
	padding: 5rem 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	background: url('/images/bg-boost-desktop.svg') center center/cover no-repeat;
	background-color: $primary-violet;

	h2 {
		color: $white;
		font-size: $heading-lg;
		margin-bottom: 2rem;
	}

	.buttonContainer {
		height: 4rem;
		width: 16rem;
		font-size: 1.6rem;
	}
}
